@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");
/* ========== VARIABLES ========== */
:root 
{
    /* COLORS */
    --body-background-color: #f9f9f9;
    --b-background-color: #7B86F5;
    /* TypoGraphy */
    --body-font: 'Poppins', sans-serif;
}

/* ========== BASE ========== */
*{
    box-sizing: border-box;
}

/* ========== LAYOUT ========== */
body
{
    background-color: var(--body-background-color);
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30ch);
    place-content: center;
    grid-gap: 5vh;
    max-width: calc((30ch * 3) + (5vh * 2) + 2rem);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    font-family: var(--body-font);
}

/* ========== SPAN ========== */
    /* ========== B TAG ========== */
        // Using `repeat();` lets us explicity define
        // the number of rows or columns to allow.
        /* ========== 2 COLUMN SPAN ========== */
     
        /* ========== 3 COLUMN SPAN ========== */
     
        // NOTE 2col will also create this arrangment
        // this is just more explicit
        /* ========== 4 BOXES SPAN ========== */

       // grid-template-rows / grid-template-columns
       
}
